@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --farmacia: #059669;
  --farmacia-dark: #047857;
  --naranja: #f97316;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
}

html, body {
  overscroll-behavior: none;
  height: 100%;
}

@media (display-mode: standalone) {
  body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
}
